<div class="container py-5">
  <h1 class="text-center">Mastermind</h1>

  <div *ngIf="gameEnded && !gameOver" class="h1 text-success text-center">You have won!</div>
  <div *ngIf="gameEnded && gameOver" class="h1 text-danger text-center">You have lost!</div>

  <div class="row mt-5 justify-content-between">
    <div class="col-4 text-center">
      <h2 class="">Select colors</h2>

      <div class="row my-3 justify-content-between">
        <div class="col-3">
          <app-color-selector
            (click)="selectItem(0)"
            [color]="selectedColors[0]"
            [selected]="selectedIndex===0"
          ></app-color-selector>
        </div>
        <div class="col-3">
          <app-color-selector
            (click)="selectItem(1)"
            [color]="selectedColors[1]"
            [selected]="selectedIndex===1"
          ></app-color-selector>
        </div>
        <div class="col-3">
          <app-color-selector
            (click)="selectItem(2)"
            [color]="selectedColors[2]"
            [selected]="selectedIndex===2"
          ></app-color-selector>
        </div>
        <div class="col-3">
          <app-color-selector
            (click)="selectItem(3)"
            [color]="selectedColors[3]"
            [selected]="selectedIndex===3"
          ></app-color-selector>
        </div>
      </div>

      <app-color-select-options
        (onColorSelect)="selectedColors[selectedIndex]=$event"
        *ngIf="selectedIndex > -1 && selectedIndex < 4"
        [selectedColor]="selectedColors[selectedIndex]"
      ></app-color-select-options>
    </div>

    <div class="col-2">
      <div class="d-flex flex-column align-items-center justify-content-start">
        <div [class.button-disabled]="gameEnded" class="button mb-4">
          <button (click)="tryColors()" [disabled]="gameEnded" class="hover-inside">
            Try
          </button>
        </div>
        <div class="button-secondary">
          <button (click)="initializeGame()" class="hover-inside">
            Restart game
          </button>
        </div>
      </div>
    </div>

    <div class="col-4 text-center">
      <h2 class="mb-3">Tried combinations {{triedVariations.length}}/{{maxTry}}</h2>

      <app-tried-color *ngFor="let tried of triedVariations" [triedOption]="tried"></app-tried-color>
    </div>
  </div>
</div>
